In [7]:
import requests
import json
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
from cryptocompare import get_daily_trade_hist

In [3]:
tickers = requests.get('https://api.coinmarketcap.com/v2/ticker/').json()

In [9]:
ASSETS = [
    'BTC',
    'ETH',
    'ETC',
    'BTS',
    'STEEM',
    'XRP',
    'STR',
    'EOS',
    'LTC',
    'XLM',
    'ADA',
    'NEO',
    'XMR',
    'DASH',
    'VEN',
    'ZEC',
    'ZRX',
    'LSK',
    'NANO'
]

In [12]:
for asset in ASSETS:
    market_data = get_daily_trade_hist(asset, all_data=True)
    market_data.to_csv('price_data/{}.csv'.format(asset))

In [4]:
bts_trades = pd.read_csv('price_data/BTS.csv', index_col='time')

In [5]:
bts_trades.head()

              close     high      low      open  volumefrom  volumeto
time
2015-01-26  0.01201  0.01219  0.01141  0.011570   201534.16   2420.43
2015-01-27  0.01111  0.01206  0.01079  0.011740  1385612.71  15394.16
2015-01-28  0.01037  0.01070  0.00973  0.009966  1818040.85  18853.08
2015-01-29  0.01049  0.01072  0.01009  0.010720  1520131.67  15946.18
2015-01-30  0.01072  0.01072  0.01003  0.010390  1549419.11  16609.77

In [11]:
bts_trades[bts_trades.close>1]

              close     high       low      open  volumefrom      volumeto
time
2015-07-16  5285.63  5285.63  0.004672  0.005488  2357039.58  1.245844e+10